

.logo {
    width: 100px;
    height: 100px;
    float: left;
    margin: 40px;
    margin-top: 0px;
}

h1{
    margin: 40px;
    font-size: 20px;
    letter-spacing: 1px;
}

h2{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: 800000;
    letter-spacing: 2;
    padding-top: 40px;
}

.header {
    background-image: url(images/header.jpg);
    background-size:cover;
    padding: 50px;
}
.form-row1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: 800000;
    letter-spacing: 2;
    padding-top: 40px;
}

.form-container {
    padding-left: 95px;
    padding-right: 95px;
}

form {
    background-color: #E7CCCC;
    border-radius: 20px;
    margin: 40px auto; 
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000e2;
    border: #f5f5f5;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.form-row {
    flex: 0 0 100%; 
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.form-row label {
    flex: 0.5 0 2px; 
    padding-right: 2px;
    padding-left: 40px;
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row input[type="number"] {
    flex: 1;
    padding: 10px;
    border: 1px;
    border-radius: 8px;
}

.footer {
    padding: 50px;
    text-align: center;
}