@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url("PUP.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-right: 20px;
}

.name {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.tagline {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.2rem;
}

.navmenu {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.navmenu li {
  display: inline-block;
  margin: 0 1.5%;
  padding: 15px;
  color: white;
  font-weight: 500;
}

.navmenu li a {
  text-decoration: none;
  color: white;
}

.navmenu li:hover {
  text-decoration: underline;
}

.guidance {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.guidance-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  color: white;
  padding: 0 20px;
  margin-bottom: 100px;
}

.guidance-text h2 {
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  border: 1px solid rgba(170, 91, 91, 0.86);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  background: rgba(170, 91, 91, 0.86);
  transition: all 0.5s;
  margin-top: 20px;
}

.btn:hover {
  background: rgba(235, 184, 184, 0.86);
  border-color: rgba(185, 172, 172, 0.86);
  color: #f7f7f2;
  transform: translateY(5px);
}

footer {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

footer p {
  color: white;
}